#worker-select-view
    include ./list-available-workers.jade
    include ./list-available-annotator.jade
    include ./selector-list.jade
    include ./annotator-list.jade
    .container
        .row
            a.col-xs-2.btn.btn-default(href=vm['go-manager-campaign'].href) go-manager-campaign
