#edit-campaign-view
    include ./edit-campaign-form.jade
    .container
        .row
            a.col-xs-2.btn.btn-default(href=vm['go-to-images-upload'].href) go-to-images-upload
            a.col-xs-2.btn.btn-default(href=vm['go-to-workers'].href) go-to-workers
